/* General Styling */
body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 80px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 20px;
}

/* Converter Container */
.converter-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 48px;
    width: 480px;
    text-align: center;
}

/* Converter Title */
.converter-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Converter Subtitle */
.converter-subtitle {
    font-size: 16px;
    color: #828282;
    margin-bottom: 24px;
}

/* Tab Container */
.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.tab {
    background: #F5F5F5;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: background 0.3s;
}

.tab.active, .tab:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Conversion Inputs */
.converter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px;
    margin: 2 20px;
}

.unit-selector {
    width: 90%;
    padding: 12px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.equals-sign {
    font-size: 24px;
    font-weight: 600;
    margin: 2 10px;
}

.input-box {
    width: 80%;
    padding: 12px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

input[readonly] {
    background-color: #f9f9f9;
}

/* Convert Button */
.convert-button {
    background: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
}
